<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>nFusion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheet.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon-16x16.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="main.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">NotesFusion</a>
      <div class="ml-auto" id="navbarNav">
        <ul class="navbar-nav navbar-right">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="download">See Notes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="upload">Upload</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="jumbotron text-center">
      <div class="row h-100">
        <div class="col-4 my-auto">
          <h1 class="">Best way to better your grades!</h1>
        </div>
        <div class="col-8">
          <div class ="man">
        </div>
      </div>
    </div>
    <div class="jumbotron text-center">
        <div class="row h-100">
          <div class="col-8">
              <div class ="ppl"></div>
          </div>
          <div class="col-4 my-auto">
                <h1 class="">Collaborate on notes for many different classes!</h1>
          </div>
        </div>
    </div>
    <div class="jumbotron text-center">
        <div class="row h-100">
          <div class="col-4 my-auto">
            <h1 class="">And Ace the Exams!</h1>
          </div>
          <div class="col-8">
            <div class ="exam">
          </div>
        </div>
    </div>
    <footer class="" style="padding-top: 10px">
        <h4 class="text-center">NotesFusion</h4>
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a class="btn-floating btn-fb mx-1">
              <i class="fa fa-facebook"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-tw mx-1">
              <i class="fa fa-twitter"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-gplus mx-1">
              <i class="fa fa-google-plus"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1">
              <i class="fa fa-linkedin"> </i>
            </a>
          </li>
        </ul>    
    </footer>
</body>
</html>