body {
    height: 100vh;
    width: 100vw;
}

.button {
    background-color:rgba(0, 0, 250, 0.25); /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.buttons-div {
    text-align:center;
}

.jumbotron { 
    background: #fff !important;
    height: 90vh;
}

.man {
    background: url(images/notes.png);
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.ppl {
    background: url(images/colab.png);
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

.exam {
    background: url(images/exam.png);
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.intro-h {
    vertical-align: middle;
}

.page-footer {
    color: black;
    text-align: center;
}

.width-part {
    width: 40%;
}

#notes-list-content li {
    list-style-type: none;
}